{% extends "layout.html" %} {% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Edit Strategy</h3>
  <div class="box">
    <form
      method="POST"
      action="{{ url_for('edit_strategy', strategy_id=doc) }}"
    >
      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="buy"
            placeholder="Buy"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="hold"
            placeholder="Hold"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="sell"
            placeholder="Sell"
          />
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">
        Edit Strategy
      </button>
    </form>
  </div>
</div>
{% endblock %}
