{% extends "layout.html" %} {% block content %}
<body>
  <p>Model Placeholder</p>

  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <h3 class="title">Create Strategy</h3>
  <div class="box">
    <form method="POST" action="{{ url_for('model', model_id=doc) }}">
      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="strategy-name"
            placeholder="Strategy Name"
            autofocus=""
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="buy"
            placeholder="Buy"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="hold"
            placeholder="Hold"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="input is-large"
            type="text"
            name="sell"
            placeholder="Sell"
          />
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">
        Create Strategy
      </button>
    </form>
  </div>
</body>

{% endblock %}
