{% extends "layout.html" %} {% block content %}
<body>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <div class="card" style="margin-top: 30px">
    <img
      src="{{ url_for('static', filename=doc.logo) }}"
      alt="companyLogo"
      class="logo"
    />
  </div>
  <img
    src=" {{ url_for('static', filename=doc.graph) }}"
    alt="graph"
    class="graph"
  />
  {% for table in tables %} {{titles[loop.index]}} {{ table|safe }} {% endfor %}
  <h3 class="title">Create Strategy</h3>
  <div class="box">
    <form method="POST" action="{{ url_for('model', model_id=doc.model) }}">
      <div class="field">
        <div class="control">
          <input
            class="w3-input w3-border"
            type="text"
            name="strategy-name"
            placeholder="Strategy Name"
            autofocus=""
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="w3-input w3-border"
            type="text"
            name="buy"
            placeholder="Buy"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="w3-input w3-border"
            type="text"
            name="hold"
            placeholder="Hold"
            autofocus=""
          />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input
            class="w3-input w3-border"
            type="text"
            name="sell"
            placeholder="Sell"
          />
        </div>
      </div>

      <button class="w3-button w3-black">Create Strategy</button>
    </form>
  </div>
</body>

{% endblock %}
