{% extends "layout.html" %} {% block content %}
<body>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <div class="container">
    <input
      id="searchbar"
      onkeyup="search_strategy()"
      type="text"
      name="search"
      placeholder="Search strategies.."
    />
    <p>Your Strategies:</p>
    {% for strategy in strategies %}
    <a href="{{ url_for('strategy', strat_id=strategy._id) }}" class="strategy"
      >{{ strategy.name }}</a
    >
    {% endfor %}
  </div>
</body>
{% endblock %}
